<%= link_to("<< Back to Events", rewards_path, class: 'back-link')%>

<div class="event new">
    <h2>Create New Event</h2>

    <%= form_for(@reward, :url => rewards_path, :method => "post") do |r|%>
        <%= render(:partial => 'form', :locals => {:r => r})%>

        <div class="form-button">
            <%= r.submit('Create Event') %>
        </div>
    <% end %>
</div>