<%= link_to("<< Back to List", users_path, :class => 'back-link') %>

<div class="users edit">
  <h2>Update User</h2>

  <%= form_for(@user) do |u| %>

    <%= render(:partial => 'form', :locals => {:u => u}) %>

    <div class="form-buttons">
      <%= u.submit("Update User") %>
    </div>

  <% end %>
</div>