<%= link_to("<< Back to List", users_path, :class => 'back-link') %>

<div class="users new">
  <h2>Create User</h2>

  <%= form_for(@user, :url => users_path, :method => 'post') do |u| %>

    <%= render(:partial => 'form', :locals => {:u => u}) %>

    <div class="form-buttons">
        <%= u.submit("Create User") %>
    </div>

  <% end %>
</div>