// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

a.navbar-brand, .nav-link {
    color: #FFFFFF !important;
}

.bg-nav {
    background-color: #500000;
}

.navbar-light, .navbar-toggler {
    color: #FFFFFF !important;
    border-color: #FFFFFF !important;
}

.fa-bars {
    color: #FFFFFF !important;
}